.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0 ,0 ,0, 0.75),rgba(0 ,0 ,0, 0.5)),url(../mmary/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}
.navbar ul li a {
    border: 0.5rem solid transparent;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 1.5rem;
    border-color: #fcfdfc;
   
}
.navbar ul li a:hover{
    background-color: #ffffff;
    color: #000;
    border-radius: 25px;
    transition: 0.5s;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fcfdfc;

}
.content h1 {
    font-size: 50px;
}

.content p{
    font-size: large;
}

.content button{
    width: 200px;
    padding: 15px 0;
    
    /* display: block; */
    margin: 20px 10px;
   
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(0, 100, 0);
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    
    
}
span {
    background:rgb(0, 100, 0);
    height: 100%;
    width: 0;
    border: radius 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5S;
}
.content button:hover span{
    width:100% ;
}
.content button:hover{
    border: none;
}